body{
    background-color: rgb(36, 35, 35);
    color: white;
}

label{
    font-size: 1.2rem;
}

.password{
    word-wrap: break-word;
}

.form-check-input{
    margin-top: 7px;
    margin-right: 10px;
}